body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
     
    padding:10px;
    width: 100%;
/*100% + 10px+10px* issliye box sizing */
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px solid #5f9341

}

button{
    background-color:seagreen;
    color: white;
    padding:10px 20px;
    border: none;
}

#delete--btn{
    background-color: white;
    color: seagreen;
    border: 1px solid seagreen;
}

ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 20px;
}

li{
    margin-top: 5px;
}

li a{
    color: blueviolet;
}